@import url('https://fonts.googleapis.com/css?family=Creepster'); /* Imports a creepy webfont from google fonts*/


body, .jumbotron {
	background-color: #FFB74D;
}
 .jumbotron p {
	margin-top: 20%;
	font-size: 12px;
}
 a {
	text-decoration: underline;
	color: black;
}
#spooky{
	font-family: 'Creepster';
}
