body,
.jumbotron {
    background-color: #ffb74d;
}

.jumbotron p {
    margin: 10% 0;
    font-size: 12px;
}

.jumbotron h3 {
    margin: 10% 0;
}

a {
    text-decoration: underline;
    color: black;
}
