@import url('https://fonts.googleapis.com/css?family=Creepster'); /* Imports a creepy webfont from go */

body{
	background-color: #f7a325;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-bottom: 60px;
}

main {
  flex: 1;
  justify-content: center;
}

.jumbotron {
  background: transparent;
}

svg#illustration {
  margin: 2rem;
  width: 15rem;
}

p {
	font-size: 12px;
}

 a {
	text-decoration: underline;
	color: black;
}

.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.konami {
	background: #000 url("https://i.ytimg.com/vi/v4zU8Is-lDY/maxresdefault.jpg");
	color: #ada48f;
}

#spooky{
	font-family: 'Creepster';
}

@media screen and (min-width: 375px) {
	#spooky {
		font-size: 78px;
	}
}

@media screen and (min-width: 414px) {
	#spooky {
		font-size: 88px;
	}
}

@media screen and (min-width: 768px) {
	#spooky {
		font-size: 134px;
	}
	.jumbotron p {
		font-size: 20px;
	}
}
